<h3>Visage</h3>
<p>
  Visage is a multidisciplinary collective based in Bangkok and representing a global experience of visual and musical culture. <br>
  We aims to reunite people from different backgrounds that all share the same passion for parties and good music but also design, <br> fashion, cinema and arts in all kinds. <br> <br>
  We play House, Deep, Acid, Afro, Latin, Soul, Funk, Disco. Music that inspires, entertains, uplifts and educates. <br>
  Different tempos and genres, old and new, hard and soulful. <br> <br>
  It’s important to us to follow in the footsteps of David Mancuso, Frankie Knuckles, Larry Levan and all those who revolutionized <br>
  dance culture forever.
</p>

<p>
  NEXT EVENT <br>
  <a href="https://www.facebook.com/events/478888939217730/">Visage 020.818 at The Firm w/ Rui</a><br>
</p>
